textarea {
    min-height: 400px;
}


/** Compose area **/

#sendButton {
    margin: 10px 0px;
}


/** Mailbox area **/

.mailboxContainer {
padding: 0px;
}

#table {
    width: 100%;

    border-collapse: collapse;
}

#table tr {
    border: 1px solid silver;
    border-right-style: hidden;
    border-left-style: hidden;

    cursor: pointer;
}

#table tr:hover {
    border: 1px solid gray;


    border-right-style: hidden;
    border-left-style: hidden;
}

#table td {
    padding: 16px;
}

#sender {
    font-weight: bold;

    width: 30%;
    white-space: nowrap;
}

#timestamp {
    width: 1%;
    white-space: nowrap;

    color: gray;
}

/* Mail view */

#mail-info {
    width: 100%;

    border-collapse: collapse;
    border-bottom: 1px solid gainsboro;

    margin-bottom: 10px;
}
.info-1 {
    width: 12%;

    font-weight: bold;
}

#archiveButton, #unarchiveButton, #replyButton {
    color: white;

    background-color: #155fe8;

    border-radius: 5px 5px;
    border: 1px;
    outline:none;

    margin: 4px;
}

#replyButton {
    background-color: rgb(16, 143, 58);
}

/* Icons */

.read {
    background-image: url('icons/read.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.unread {
    background-image: url('icons/unread.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.archive {
    background-image: url('icons/archive.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.unarchive {
    background-image: url('icons/unarchive.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}